{
  "env": {
    "jest": true
  },
  "extends": [
    "plugin:heisenberg/recommended",
    "plugin:heisenberg/node",
    "plugin:heisenberg/jsdoc",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "heisenberg",
    "jest"
  ],
  "rules": {
    "no-console": "off",
    "no-process-exit": "off",
    "no-sync": "off",
    "node/no-unpublished-require": "off",
    "yoda": ["error", "never"]
  }
}
